@import "normalize";

body > .container {
  width: 1020px;
  margin: 0 auto;
}

nav {
  padding: 20px 15px;

  .links {
    float: right;

    a {
      padding: 10px;
      text-decoration: none;
    }

    a.active {
      background: #444;
      color: white;
    }
  }
}
